.container{
    background-image: url('https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    align-items: center;
    justify-content: center;
    /* This is a flex container, contorlable layout. With flex it is easy to center in, 
    easy to space properly and easy to align items. Usually the default flex direction is row, 
    which we can also change to column. */
    display:flex;
    flex-direction: column;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(20, 19, 19); */
  /* transition: 0.8s all; */
}

h1{
    color: beige;
}

.result{
    margin-left: 70px;
    width: 33.5%;
}

input{
    color:darkblue;
    background-color: beige;
    width: 40px;
    padding: 10px;
    font-weight: bolder;
}

.clear-button{
    width:172px;
    background-color: red;
    color: beige;
    font-weight: bolder;
    margin-bottom:30px;
}

::placeholder{
    color:blue;
    opacity: 0.5;
}

input[type="button"]:hover {
  background-color: rgb(160, 160, 160);
  color: #fff;
}
