.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: black;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  color: white;
  width: 300px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 80%;
  font-weight: bold;
}

input[type="button"] {
  width: 100px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: gray;
  color: white;
}

#message {
  margin-top: 10px;
}
