body {
    font-family: Arial;
}

.border {
    width: 280px;
    background-color: #9bc4d2;
    padding: 7px;
    margin-top: 30px;
}

.header {
    background-color: #287494;
    padding: 5px;
}

.word {
    color: white;
    font-style: italic;
}

.textbook {
    width: 160px;
    padding: 7px;
    background-color: #287494;
    color: white;
    border-radius: 7px;
}

.btn {
    width: 85px;
    padding: 7px;
    background-color: #287494;
    color: white;
    border-radius: 7px;
}

.bottom {
    color: #287494;
    font-size: 12px;
    font-style: italic;
}

.msg {
    color: red;
    font-size: 14px
}